version: "3.8"

services:
  backend:
    image: backend
    build:
      dockerfile: Dockerfile
      context: ./
      target: web-server
    container_name: backend-container
    env_file:
      - environment/db.env
      - environment/app.env
    environment:
      - ENT_REDIS_LOCATION=redis://redis:6379
      - GUNICORN_WORKERS=4
      - GUNICORN_THREADS=12
  
    expose:
        - 4022
    volumes:
      - statics_data:/app/static
    networks:
      - web-pish

  db:
    image: postgres
    volumes:
      - pg_datas:/var/lib/postgresql
    env_file:
      - environment/db.env
    networks:
      - web-pish

  nginx:
      container_name: nginx
      build: ./nginx/dev
      ports:
          - "4022:80"
      command: [ "/bin/bash", "-c", "nginx -g 'daemon off;'" ]
      volumes:
          - ./static:/static
          - ./media:/media
          - ./nginx/dev:/etc/nginx/conf.d
          - ../front/build:/var/www/html/app
      networks:
          - web-pish

  redis:
     image: redis
     restart: always
     networks:
       - web-pish

networks:
  web-pish: 
    name: web-pish

volumes:
  statics_data:
    name: statics_data
  pg_datas:
    name: pg_datas
